[submodule ".registry"]
	path = .registry
	url = https://github.com/jonthegeek/jonthegeek.r-universe.dev
	branch = HEAD
[submodule "S7"]
	path = S7
	url = https://github.com/RConsortium/S7
	registered = false
[submodule "anyapi"]
	path = anyapi
	url = https://github.com/jonthegeek/anyapi
[submodule "apisguru"]
	path = apisguru
	url = https://github.com/jonthegeek/apisguru
	registered = false
[submodule "asanar"]
	path = asanar
	url = https://github.com/jonthegeek/asanar
[submodule "aws.lambda"]
	path = aws.lambda
	url = https://github.com/cloudyr/aws.lambda
[submodule "beekeeper"]
	path = beekeeper
	url = https://github.com/jonthegeek/beekeeper
[submodule "chains"]
	path = chains
	url = https://github.com/shinyworks/chains
[submodule "cookies"]
	path = cookies
	url = https://github.com/shinyworks/cookies
[submodule "dlr"]
	path = dlr
	url = https://github.com/macmillancontentscience/dlr
[submodule "factory"]
	path = factory
	url = https://github.com/jonthegeek/factory
[submodule "favawesome"]
	path = favawesome
	url = https://github.com/shinyworks/favawesome
[submodule "fecapi"]
	path = fecapi
	url = https://github.com/jonthegeek/fecapi
[submodule "hrmn"]
	path = hrmn
	url = https://github.com/jonthegeek/hrmn
[submodule "httr2"]
	path = httr2
	url = https://github.com/r-lib/httr2
	registered = false
[submodule "mockplumber"]
	path = mockplumber
	url = https://github.com/jonthegeek/mockplumber
[submodule "morphemepiece"]
	path = morphemepiece
	url = https://github.com/macmillancontentscience/morphemepiece
[submodule "morphemepiece.data"]
	path = morphemepiece.data
	url = https://github.com/macmillancontentscience/morphemepiece.data
[submodule "nectar"]
	path = nectar
	url = https://github.com/jonthegeek/nectar
[submodule "piecemaker"]
	path = piecemaker
	url = https://github.com/macmillancontentscience/piecemaker
[submodule "rapid"]
	path = rapid
	url = https://github.com/jonthegeek/rapid
[submodule "rli"]
	path = rli
	url = https://github.com/jonthegeek/rli
[submodule "scenes"]
	path = scenes
	url = https://github.com/shinyworks/scenes
[submodule "shinyfocus"]
	path = shinyfocus
	url = https://github.com/shinyworks/shinyfocus
[submodule "shinyslack"]
	path = shinyslack
	url = https://github.com/r4ds/shinyslack
[submodule "shinysocial"]
	path = shinysocial
	url = https://github.com/shinyworks/shinysocial
[submodule "slackcalls"]
	path = slackcalls
	url = https://github.com/yonicd/slackcalls
	registered = false
[submodule "slackteams"]
	path = slackteams
	url = https://github.com/yonicd/slackteams
	registered = false
[submodule "stbl"]
	path = stbl
	url = https://github.com/api2r/stbl
[submodule "tableguess"]
	path = tableguess
	url = https://github.com/jonthegeek/tableguess
[submodule "tibblify"]
	path = tibblify
	url = https://github.com/mgirlich/tibblify
	registered = false
[submodule "tidybert"]
	path = tidybert
	url = https://github.com/macmillancontentscience/tidybert
[submodule "torchtransformers"]
	path = torchtransformers
	url = https://github.com/macmillancontentscience/torchtransformers
[submodule "trellor"]
	path = trellor
	url = https://github.com/jonthegeek/trellor
[submodule "wordpiece"]
	path = wordpiece
	url = https://github.com/macmillancontentscience/wordpiece
[submodule "wordpiece.data"]
	path = wordpiece.data
	url = https://github.com/macmillancontentscience/wordpiece.data
[submodule "youtubeR"]
	path = youtubeR
	url = https://github.com/kevin-m-kent/youtubeR
[submodule "zoomer"]
	path = zoomer
	url = https://github.com/jonthegeek/zoomer
